---
import '../styles/global.css';
const pageTitle = "Home Page"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h2>WELKOM BIJ</h2>
		<h1>TMC RAVELS</h1>
		<h3>Op deze website delen we onze evenementen, foto's, informatie over onze club en over de hobby. Twijfel niet om ons te contacteren als je zelf ook wilt starten met modelvliegen.</h3>
	
		<p>Klik <a href="https://docs.astro.build/en/tutorial/2-pages/3/">hier</a> om de tutorial verder af te maken. Momenteel zat je op stap 2.3.</p>
	
	</body>
</html>
